.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/.name
.idea/vcs.xml
.idea/scopes/scope_settings.xml
.idea/modules.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/gradle.xml
app/proguard-rules.pro
app/app.iml
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew.bat
gradlew
s13ru.iml
app/S13.apk
